{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="background-section">
    <div class="container-xxl">
        <div class="col-12">
            <h1 class="text-center text-black">Activation Email Sent!</h1>
            <p>Thank you for registering! We have sent you an email with instructions to activate your account.</p>
            <p>Please check your inbox and follow the link provided to complete the registration process.</p>
        </div>
    </div>
</section>

{% endblock %}