{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="background-section">
    <div class="container-xxl">
        <div class="col-12">

            <div class="container">
                <div class="card mx-auto col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">Delete the product {{object.name}}?</h5>
                        <br>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#confirmModal">
                            Delete
                        </button>
                        <a href="{{ object.category.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel">Confirm Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the product "{{ object.name }}"?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'product_delete' slug=object.slug %}" id="deleteForm">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                        onclick="document.forms['deleteForm'].submit()">Yes, Delete
                                </button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}