<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load main_tags %}

{% block content %}
<div><h2 class="text-center text-black">Explore and experience <em>{{ product.name }}</em></h2></div>
<section>
    <div class="container d-flex flex-wrap">
        <div class="card mx-auto col-md-8 w-100 h-100 border-0" style="margin-top: 50px;">
            <div class="row g-0 d-flex justify-content-center">
                <div class="col-md-5">
                    <img src="{% imagepath_tag product.preview %}"
                         class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h4 class="card-title"><strong>{{ product.name }}</strong></h4>
                        <p class="card-text" style="text-align: justify;">{{ product.description }}</p>
                        <p class="card-text"><strong>Ingredients:</strong><br>{{ product.ingredients }}</p>
                        <p class="card-text"><strong>Flavour:</strong><br>{{ product.flavour }}</p>
                        <p class="card-text"><strong>Aroma:</strong><br>{{ product.aroma }}</p>
                        <p class="card-text"><strong>Preparation method:</strong><br>{{ product.preparation }}</p>
                        <p class="card-text"><strong>Price:</strong><br>{{ product.price }}$</p>
                    </div>
                    <ul style="position: absolute; bottom: 0; list-style-type: none;">
               <li><a href="{{ category.get_absolute_url }}">Back to {{ product.category }}</a></li>
               <li><a href="{% url 'catalog' %}">To all tea types</a></li>
             </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}